{% extends 'base.html' %}

{% load static %}

{% block head %}
<style>
    ul {
        list-style-type: none;
    }
</style>
{% endblock %}

{% block main %}
    <form method='post' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>Submit</button>
    </form>
    {% if error %}
        There was an error. Please see the output below.
        {{ error }}
    {% endif %}
    {% if help %}
        <hr>
        <pre>{{ help }}</pre>
    {% endif %}
{% endblock %}