{% extends 'base.html' %}

{% load static %}

{% block head %}
    <script>
        function toggleRaw() {
            var x = document.getElementById('raw-display');
            var y = document.getElementById('raw-btn');
            if (x.style.display === 'none') {
                x.style.display = 'block';
                y.innerText = 'Hide Raw Output';
            } else {
                x.style.display = 'none';
                y.innerText = 'Show Raw Output';
            }
        }
    </script>
    <style>
        ul {
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block main %}
    <div id='run-form'>
        <form method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type='submit'>Run</button>
        </form>
    </div>
    {% if display %}
        <hr><hr>
        <div id='run-display'>
            {% for hostname, displays in display.items %}
                <h4>{{ hostname }}</h4>
                {% for d in displays %}
                    <h5>Action: {{ d.action }} - {{ d.outcome }}</h5>
                    <h5>Tasks Run:</h5>
                    <ol>
                        {% for t in d.tasks %}
                            <li>{{ t }}</li>
                        {% endfor %}
                    </ol>
                    <button id='raw-btn' type='button' onclick='toggleRaw()'>Show Raw Output</button>
                    <pre id='raw-display' style='display:none'>{{ d.raw }}</pre>
                {% endfor %}
                <hr>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
