{% extends 'base.html' %}

{% load static %}

{% block main %}
    <div id='run-form'>
        <form method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type='submit'>Run</button>
        </form>
    </div>
    {% if display %}
        <hr>
        <div id='run-display'>
            <h4>Success!</h4>
            <h5>Tasks Run:</h5>
            <ul>
                {% for t in display.tasks %}
                    <li>{{ t }}</li>
                {% endfor %}
            </ul>
            <p>{{ display.recap }}</p>
        </div>
    {% endif %}
    {% if error %}
        <hr>
        <div id='run-error'>
            <h4>Error</h4>
            <p>{{ error }}</p>
        </div>
    {% endif %}
{% endblock %}
