{% extends 'base.html' %}

{% load static %}

{% block head %}
    <script>
        function toggleRaw() {
            var x = document.getElementById('raw-display');
            var y = document.getElementById('raw-btn');
            if (x.style.display === 'none') {
                x.style.display = 'block';
                y.innerText = 'Hide Raw Output';
            } else {
                x.style.display = 'none';
                y.innerText = 'Show Raw Output';
            }
        }

        function submitAjax() {
            var outer_div = document.getElementById('run-display');
            outer_div.innerHTML = '';

            var running_div = document.getElementById('running-display');
            running_div.innerHTML = "<h4 id='running'>Running...</h4><hr><hr>";

            var actions = [];
            var action_names = [];
            var devices = [];
            var device_names = [];

            var checkboxes = document.getElementsByName('actions');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    actions.push(checkboxes[i].value);
                    action_names.push(checkboxes[i].nextSibling.textContent.replace('\n ', ''));
                }
            }

            var checkboxes = document.getElementsByName('firewall_devices');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    devices.push(checkboxes[i].value);
                    device_names.push(checkboxes[i].nextSibling.textContent.replace('\n ', ''));
                }
            }

            for (var d = 0; d < devices.length; d++) {
                var new_display_div = document.createElement('div');
                new_display_div.id = device_names[d].substring(device_names[d].indexOf("(") + 1, device_names[d].indexOf(")"));
                outer_div.appendChild(new_display_div);

                var node = document.createElement('h4');
                var text = document.createTextNode(device_names[d]);
                node.appendChild(text);
                new_display_div.appendChild(node);

                for (var a = 0; a < actions.length; a++) {
                    url = "{% url 'run_action' 12345 6789 %}".replace(/12345/, devices[d]).replace(/6789/, actions[a]);
                    $.ajax({
                        type : 'POST',
                        url: url,
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            dataType: 'json',
                        },
                        success: function(data) {
                            var display_div = document.getElementById(data.hostname);

                            var node = document.createElement('h5');
                            node.textContent = 'Action: ' + data.action + ' - ' + data.outcome;
                            display_div.appendChild(node);

                            var node = document.createElement('h5');
                            node.textContent = 'Tasks Run:';
                            display_div.appendChild(node);

                            var node = document.createElement('ol');
                            for (var i = 0; i < data.tasks.length; i++) {
                                var child_node = document.createElement('li');
                                child_node.textContent = data.tasks[i];
                                node.appendChild(child_node);
                            }
                            display_div.appendChild(node);

                            var node = document.createElement('button');
                            node.id = 'raw-btn';
                            node.type = 'button';
                            node.setAttribute('onclick', 'toggleRaw()');
                            node.textContent = 'Show Raw';
                            display_div.appendChild(node);

                            var node = document.createElement('pre');
                            node.id = 'raw-display';
                            node.style = 'display:none';
                            node.textContent = data.raw;
                            display_div.appendChild(node);

                            var node = document.createElement('br');
                            display_div.appendChild(node);
                            var node = document.createElement('br');
                            display_div.appendChild(node);
                            var node = document.createElement('br');
                            display_div.appendChild(node);

                            running_div.innerHTML = '';
                        },
                        failure: function() {
                            var node = document.createElement('h5');
                            var text = document.createTextNode('Action: undefined - Operational Failure');
                            node.appendChild(text);
                            display_div.appendChild(node);
                            var node = document.createElement('br');
                            display_div.appendChild(node);
                        }
                    });
                }
            }
        }
    </script>
    <style>
        ul {
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block main %}
    <div>
        {{ form.as_p }}
        <button type='submit' onclick='submitAjax()'>Run</button>
    </div>
    <hr><hr>
    <div id='running-display'></div>
    <div id='run-display'></div>
{% endblock %}
