{% extends 'base.html' %}

{% load static %}

{% block head %}
    <script>
        function submitAjax(device_id) {
            url = "{% url 'run_status' 12345 %}".replace(/12345/, device_id);
            $('#' + device_id + '-time').text("working...");
            $.ajax({
                type : 'POST',
                url: url,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    dataType: 'json',
                },
                success: function(data) {
                    $('#' + device_id + '-time').text(data.time);
                    var node = document.createElement('ol');
                    for (var i = 0; i < data.statuses.length; i++) {
                        var child_node = document.createElement('li');
                        child_node.textContent = data.statuses[i];
                        node.appendChild(child_node);
                    }
                    document.getElementById(device_id + '-status').appendChild(node);
                },
                failure: function() {
                    $('#' + device_id + '-time').text("failed");
                    var node = document.createElement('p');
                    var text = document.createTextNode("Failed to get status; try again.");
                    node.appendChild(text);
                    document.getElementById(device_id + '-status').appendChild(node);
                }
            });
        }
    </script>
{% endblock %}

{% block main %}
    {% for f in firewalls %}
        <h4>{{ f.name }} ({{ f.hostname }})</h4>
        <p>Last updated at <b id="{{ f.id }}-time">never</b></p>
        <button type='submit' onclick='submitAjax({{ f.id }})'>Get Status</button>
        <br>
        <div id="{{ f.id }}-status"></div>
    {% endfor %}
{% endblock %}